
#banner {
  z-index: 10;
}

.banner {
  background: var(--cOnPrimary);
  color: var(--cPrimary);
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  position: relative;
}

.banner h1, .banner img {
  cursor: pointer;
}

.banner h1 {
  margin: 0px;
  color: var(--cPrimary);
  font-size: 2.25rem;
  line-height: 1em;
  font-weight: bold;
}

.banner img {
  max-height: 50px;
}

.banner .dropdown {
  position: absolute;
  inset-inline-end: 1em;
  max-height: 100px;
}

.banner .dropdown button {
  inline-size: 105px;
  padding: 6px 1.5em 6px 12px;
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - .125em) center;
  background-size: 1.25em;
}