#chart {
  padding: 0 2em;
}
h2.chart-type {
  display: block;
  margin: auto;
  width: 550px;
  max-width: calc(100% - 4em);
  margin-top: 1em;
}

h2.chart-type * {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: auto;
  color: var(--cPrimary);
}

#chart {
  opacity: 1;
}
