#control-panel {
  overflow-y: scroll;
  padding-bottom: .5em;
}

#control-panel p {
  margin-top: .5em;
}

#control-panel form strong {
  display: block;
  margin-bottom: .25em
}

#control-panel form label {
  display: block;
  margin-bottom: .25em
}

#control-panel form label.active {
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
}

#control-panel form input[type="radio"] {
  visibility: hidden;
  display: block;
  height: 0;
}

#chart-type {
  display: none;
}

#map:not(.active) {
  display: none !important;
}

#show-view {
  display: inline-block;
}

@media only screen and (max-width: 575px) {
  #show-view {
    display: block;
  }
}