#control-panel {
  overflow-y: scroll;
  padding-bottom: .5em;
}

#control-panel p {
  margin-top: .5em;
}

#control-panel form strong {
  display: block;
  margin-bottom: .25em
}

#control-panel form label {
  display: block;
  margin-bottom: .25em;
  font-weight: bold;
}

#control-panel form label.active {
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
}

#control-panel form input[type="radio"] {
  visibility: hidden;
  display: block;
  height: 0;
}

#chart-type {
  display: none;
}

#map:not(.active) {
  display: none !important;
}

#show-view {
  display: inline-block;
  padding-right: 2.75em;
  background-size: 24px;
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
}

#show-view.map {
  background-image: url('../img/us-hover.png');
}

#show-view.map:active {
  background-image: url('../img/us.png');
}

#show-view.chart {
  background-image: url('../img/chart.svg');
}

#show-view.chart:active {
  background-image: url('../img/chart-hover.svg');
}

#show-view.detail {
  background-image: url('../img/detail.svg');
}

#show-view.detail:active {
  background-image: url('../img/detail-hover.svg');
}

@media only screen and (min-width: 575px) {
  #show-view {
    display: none;
  }
}