#control-panel {
  overflow-y: scroll;
  padding-bottom: .5em;
  border-right: 1px solid var(--scrollbarBorder);
}

#control-panel p {
  margin-top: .5em;
}

#control-panel form strong {
  display: block;
  margin-bottom: .25em;
  color: var(--cPrimary);
}

#animate,
#control-panel form label {
  display: block;
  margin-bottom: .25em;
  font-weight: bold;
}

#control-panel form label.active {
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
}

#control-panel form input[type="radio"] {
  visibility: hidden;
  display: block;
  height: 0;
}

#state-filter {
  display: none;
}

#state {
  background: var(--cSecondary);
  color: var(--cOnSecondary);
  font-weight: bold;
  text-align: center;
  background-image: url(/img/down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - .125em) center;
  background-size: 1.25em;
  padding: 6px 0;
}

#state.active {
  background: var(--cPrimary);
  color: var(--cOnPrimary);
  background-image: url(/img/down-active.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - .125em) center;
  background-size: 1.25em;
}

#map:not(.active) {
  display: none !important;
}

#show-view {
  display: inline-block;
  padding-right: 2.75em;
  background-size: 24px;
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
}

#show-view.map {
  background-image: url('/img/us-hover.png');
}

#show-view.map:active {
  background-image: url('/img/us.png');
}

#show-view.detail {
  background-image: url('/img/detail.svg');
}

#show-view.detail:active {
  background-image: url('/img/detail-hover.svg');
}

#calendar {
  position: absolute;
  right: 50px;
  top: 3px;
  width: 400px;
  text-align: right;
  display: none;
  font-weight: bold;
  z-index: 200;
  color: var(--cPrimary);
  padding: 3px 0;
}

#calendar h2,
#calendar h4 {
  display: block;
  margin-block-start: 0;
  margin: 0;
}

#calendar h4 {
  padding-right: .25em;
}

#calendar span {
  display: inline-block;
}

#calendar h2 span {
  font-size: 2em;
}

#calendar .month {
  padding-right: .25em;
}

#calendar .year {
  padding-left: .125em;
}

#calendar .people {
  visibility: hidden;
  font-size: 85%;
  margin-top: -.25em;
}

#control-panel form button#animate {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 575px) {
  #show-view {
    display: none;
  }
}
