body.intro #modal {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
}

body.intro:not(.loading) .modal-backdrop {
  backdrop-filter: blur(3px);
  background-color: var(--modalBd);
  opacity: 1 !important;
}

.modal-header {
  align-items: center;
  background-color: var(--cPrimary);
}

.modal-header h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--cOnPrimary);
  margin-block: 0;
}

div#modal.intro {
  margin: 6em 4em;
  border-radius: .5em !important;
}

#dialog .modal-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5em 1em;
}

#dialog .modal-footer .start {
  flex-grow: 9999;
  flex-grow: 1;
}

#dialog .btn-primary:focus,
#dialog .btn-primary:hover {
  box-shadow: 0 0 0 3px var(--cPrimary);
}

#dialog .btn-secondary:focus,
#dialog .btn-secondary:hover {
  box-shadow: 0 0 0 2px var(--cSecondary);
}

#dialog .btn-close {
  margin-inline-start: 0;
  margin-inline-end: -.5em;
  color: var(--cOnPrimary) !important;
}

body.intro #modal .modal-content {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cSecondary);
  border-radius: .5em !important;
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
}

div.intro .modal-body {
  overflow-y: auto;
  background-color: transparent;
  border: none;
}
