.feature-html {
  display: flex;
  flex-flow: row wrap;
  padding: .5em 0 .5em 1em;
}

.feature-html h4 {
  background-repeat: no-repeat;
  font-size: 115%;
  font-weight: bold;
  display: block;
  margin: 0;
}

li .feature-html h4:hover {
  text-decoration: underline;
  color: #0a58ca;
  cursor: pointer;
}

.feature-html .address {
  font-weight: 500;
  line-height: 1em;
  margin-bottom: .5em;
}

.feature-html.location h5 {
  display: block;
  margin: .5em 0 0 0;
  font-weight: bold;
}

body.future .prop.total {
  display: none;
}

.popup .feature-html h4 {
  margin: 0 !important;
}

.popup .feature-html .rollup {
  font-size: .85em;
}

.feature-html .session-group {
  margin-top: .5em;
  max-height: 200px;
  overflow-y: auto;
}

li .feature-html .session-group {
  margin-right: 1em;
  width: 660px;
  max-width: 100%;
}

.popup .feature-html .session-group {
  max-height: 105px;
  width: auto;
}

.feature-html .session-group::-webkit-scrollbar {
  background: var(--scrollbarBg);
}

.feature-html .session-group::-webkit-scrollbar-thumb {
  background: var(--scrollbarBgDark);
}

.feature-html .session {
  border-top: 1px solid #fff;
  background-color: rgba(0, 98, 204, .15);
  padding: .5em;
}

.feature-html .session:first-of-type {
  border-top: none;
}

.feature-html div.prop {
  display: inline-block;
  margin-inline-end: 0.5em;
}

.feature-html.state {
  display: block;
}

.popup .session {
  font-size: .85em;
}

.popup .session br {
  display: none;
}

.feature-html div.distance {
  position: absolute;
  inset-inline-end: 0px;
  inset-block-start: 5px;
}

.feature-html .field {
  font-weight: 600;
}

.feature-html button[aria-expanded=true]::after {
  background-size: 0px 100%, 100% 2px !important;
}

#location-list .feature-html {
  border-top: 1px solid var(--cSecondary);
}

.feature-org {
  width: 100%;
}

.feature-org:not(.org-0) {
  margin-top: .5em;
}

body.future .feature-html.no-future,
body.future .feature-org.no-future {
  display: none;
}

body.future .feature-html.has-future {
  display: flex;
}

body.future .feature-org.has-future {
  display: block;
}

body:not(.future) .feature-html.no-past,
body:not(.future) .feature-org.no-past {
  display: none;
}

body.future .session {
  display: none;
}

body.future .session.future {
  display: block;
}

.feature-html a.directions {
  display: none;
}

body.future .feature-html a.directions {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(/img/directions.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-inline-start: .5em;
  float: right;
}

body.future .feature-html a.directions:hover {
  background-image: url(/img/directions-hover.svg);
}

.feature-html.hide {
  display: none !important;
}

.popup .feature-html {
  padding: 0;
}

.popup .feature-html .session {
  padding: .5em;
}

.feature-tip {
  border-radius: .25em;
  padding: .5em;
  min-inline-size: 100px;
  color: var(--cOnPrimary);
  background-color: var(--tipBg);
  border: 1px solid var(--cSecondary);
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
  margin: 4px;
  max-inline-size: 300px;
  line-height: .75em;
}

.feature-tip h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.feature-tip span {
  font-size: .75em;
}

body.future .feature-tip span {
  display: none;
}