.feature-html {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1em;
}

.popup .feature-html {
  padding-top: 0;
}

li .feature-html .session {
  padding: 1em;
}

.popup .feature-html .session {
  padding: .5em;
}

.feature-html h4 {
  border-radius: 3px;
  font-weight: bold;
}

li .feature-html h4:hover {
  text-decoration: underline;
  color: var(--cPrimary);
  cursor: pointer;
}

.feature-html::before,
.feature-html::after {
  content: "";
  block-size: 0px;
  order: 8888;
  flex: 0 0 100% !important;
  inline-size: 100% !important;
  block-size: 0px;
}

.feature-html::before {
  order: 6666;
}

.feature-html h4 {
  margin-block: 0px;
  background-repeat: no-repeat;
  font-size: 115%;
}

.feature-html div.distance {
  position: absolute;
  inset-inline-end: 0px;
  inset-block-start: 5px;
}

.feature-html div {
  display: inline-block;
  margin-inline-end: 0.5em;
}

.feature-html address {
  display: block;
  margin: 0.25em 0;
  width: 100%;
}

.feature-html > :is(.name, .address, .county, h4) {
  flex: 0 0 100%;
}

.feature-html .field {
  font-weight: 700;
}

.feature-html button {
  margin-block-start: 1rem;
  text-align: start;
  display: flex;
  flex-flow: row;
  align-items: start;
  gap: 0px 0.5em;
  justify-content: space-between;
}

.feature-html > :is(button) {
  flex: 0 0 auto;
  inline-size: fit-content;
  order: 7777;
  display: inline-flex;
  margin-block: 0.5rem 0;
}

.feature-html > :is(button):first-of-type:not(:last-of-type) {
  margin-inline-end: 0.5rem;
}

.feature-html button::after {
  content: "";
  block-size: 1em;
  inline-size: 1em;
  position: relative;
  inset-block-start: 0.25em;
  background: linear-gradient(to top, currentcolor, currentcolor) center center/2px 0.875em no-repeat, linear-gradient(to top, currentcolor, currentcolor) center center/0.875em 2px no-repeat !important;
}

.feature-html button[aria-expanded=true]::after {
  background-size: 0px 100%, 100% 2px !important;
}

li .feature-html .session.more {
  padding-top: 0;
}

.feature-html.state h4 {
  padding-left: .25em;
}

li .feature-html.location h4 {
  padding-left: 1em;
}
.popup .feature-html.location h4 {
  padding-left: .5em;
}

#location-list .feature-html {
  border-bottom: 1px solid var(--cSecondary);
}

body.future .feature-html.no-future {
  display: none;
}

body.future .feature-html.has-future {
  display: flex;
}

body.future .session {
  display: none;
}
body.future .session.future {
  display: block;
}

.feature-html a.directions {
  display: none;
}

body.future .feature-html a.directions {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../img/directions.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-inline-start: .5em;
  float: right;
}

body.future .feature-html a.directions:hover {
  background-image: url(../img/directions-hover.svg);
}

.feature-tip {
  border-radius: .25em;
  padding: .5em;
  min-inline-size: 100px;
  color: var(--cOnPrimary);
  background-color: var(--tipBg);
  border: 1px solid var(--cSecondary);
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
  margin: 4px;
  max-inline-size: 300px;
  line-height: .75em;
}

.feature-tip h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.feature-tip span {
  font-size: .75em;
}

.chart-tip.feature-tip {
  position: absolute;
  display: none;
}