html, body {
  position: fixed;
  inset: 0px;
}

::-webkit-scrollbar {
  border: none;
  inline-size: 12px;
  block-size: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarBg);
}

h1, h2, h3, h4, h5, h6 {
  border-radius: 3px;
}

h2, h3, h4, h5, h6 {
  font-size: 16px;
  display: inline;
}

.screen-reader-only {
  position: absolute;
  inset-inline-start: -1000px;
}

body.loading {
  background-position: center center;
  background-repeat: no-repeat;
}

body.loading #banner,
body.loading #container,
body.loading #legend {
  display: none;
}


a.dropdown-item:focus,
a.dropdown-item:focus-visible {
  outline-width: 0;
  background-color: var(--cSecondary);
  color: var(--cPrimary);
}

a.dropdown-item:hover {
  background-color: var(--scrollbarBg);
  color: var(--cPrimary);
}

.nav-link {
  font-weight: bold;
}

#nav .nav-link.active {
 color: var(--cPrimary);
}

#tab-col {
  padding: 0;
}

#tab-col.map-active #locate {
  margin: 24px 12px;
}

.nav.nav-tabs {
  border-block-end: none;
}

.nav-link:hover {
  color: var(--cOnPrimary);
}

.nav-item button {
  padding: 0.5em 0.75em;
}

.nav.flex-sm-column {
  flex-direction: unset !important;
}

.nav-item.request {
  position: absolute;
  right: 0;
}

#request {
  padding: 1em;
}

#request h2 {
  font-weight: bold;
}

body.intro .modal-backdrop {
  backdrop-filter: none;
  background: none;
}

.col-sm {
  block-size: calc(100svh - 115px);
}

.col-sm-4 {
  padding-block: 1.5rem;
}

.col-sm form {
  margin-block: 14px;
}

.col-sm-12 {
  background: var(--cPrimary);
}

.col-sm-12, .col-sm-12 button {
  color: var(--cOnPrimary);
  padding-block-start: 0.5em;
}

#tab-content {
  overflow-y: auto;
  background: var(--cOnPrimary);
}

#tab-col.external,
#tab-content.map-active,
#tab-content.external {
  width: 100%;
  overflow-y: hidden;
}

.tab-pane a:where(:not([class*="btn"])) {
  color: var(--cPrimary);
  font-weight: 700;
  text-decoration: solid underline currentColor;
}

.btn.btn-primary {
  border-color: var(--cSecondary);
  font-weight: 500;
  background: var(--cSecondary);
  color: var(--cPrimary);
}

.btn.btn-secondary {
  border-color: var(--cPrimary);
  color: var(--cOnPrimary);
  background: var(--cPrimary);
}
