#legend {
  max-width: 165px;
  position: absolute;
  right: .5em;
  bottom: .5em;
  background-color: rgba(255,255,255,.8);
  border-radius: .5em;
  border: 1px solid var(--cSecondary);
  padding: .5em 2em .5em .5em;
  background-repeat: no-repeat;
  background-position: calc(100% - .25em) .5em;
  background-size: 18px;
  background-image: url(../img/down.svg);
}

#legend.minimized {
  background-image: url(../img/up.svg);
}

#legend h3 {
  cursor: pointer;
  margin: 0;
}

#legend.minimized ul {
  display: none;
}

#legend ul {
  padding-inline-start: 0;
  margin: .25em 0 0 0;
}

#legend li {
  list-style-type: none;
}

#legend div {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}

#legend.state li.low,
#legend.state li.high {
  display: none;
}

#legend.state div {
  border: 1px solid #3399CC;
}

#legend.state .bucket-0 div {
  background-color: #a6bddb;
}

#legend.state .bucket-1 div {
  background-color: #74a9cf;
}

#legend.state .bucket-2 div {
  background-color: #3690c0;
}

#legend.state .bucket-3 div {
  background-color: #0570b0;
}

#legend.state .bucket-4 div {
  background-color: #034e7b;
}

#legend.location div {
  background-color: #3399CC;
  border: 1px solid #fff;
  border-radius: 50%;
}

#legend.location li {
  display: none;
}

#legend.location li.low,
#legend.location li.high {
  display: block;
}

#legend .low div {
  width: 11px;
  height: 11px;
}

#legend.location span {
  display: block;
  float: right;
}

body.future #legend.location .high,
body.future #legend.location span {
  display: none;
}

body.future #legend.location .low div {
  margin-left: calc(50% + 5px) !important;
}