#legend {
  display: none;
  max-width: 165px;
  position: absolute;
  right: .5em;
  bottom: .5em;
  background-color: rgba(255,255,255,.8);
  border-radius: 6px;
  border: 1px solid var(--cSecondary);
  padding: .25em 0;
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
}

#legend h3 {
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  color: var(--cPrimary);
  background-repeat: no-repeat;
  background-position: calc(100% - .125em) 0;
  background-size: 1.25em;
  background-image: url(../img/down.svg);
  padding: .25em 2em .25em .5em;
  width: 100%;
  display: block;
}

#legend.minimized h3 {
  background-image: url(../img/up.svg);
}

#legend.minimized ul {
  display: none;
}

#legend ul {
  padding-inline-start: 0;
  margin: 0 2em 0 .5em;
}

#legend li {
  list-style-type: none;
}

#legend div {
  display: inline-block;
  width: 1em;
  height: 1em;
}

#legend.state li.bucket div {
  margin-right: .5em;
  margin-bottom: -.15em;
}

#legend.state li.low,
#legend.state li.high {
  display: none;
}

#legend.state div {
  border: 1.5px solid #111a52;
}

#legend.state .bucket-0 div {
  background-color: #a6bddb;
}

#legend.state .bucket-1 div {
  background-color: #74a9cf;
}

#legend.state .bucket-2 div {
  background-color: #3690c0;
}

#legend.state .bucket-3 div {
  background-color: #0570b0;
}

#legend.state .bucket-4 div {
  background-color: #034e7b;
}

#legend.location div.bucket {
  text-align: center;
}

#legend.location div.point {
  display: inline-block;
  background-color: #3399CC;
  border: 1.5px solid #111a52;
  border-radius: 50%;
}

#legend.location li {
  display: none;
}

#legend.location li.low,
#legend.location li.high {
  display: block;
}

#legend .low div {
  width: 11px;
  height: 11px;
}

#legend.location span {
  display: block;
  float: right;
}

body.future #legend.location .high,
body.future #legend.location span {
  display: none;
}

body.future #legend.location .low div.bucket {
  width: auto !important;
}