#location-list {
  container: locationListContainer/inline-size;
}

#location-list {
  padding-inline: 0;
}

p.message {
  margin: 0;
}

#location-list li {
  border-radius: 0;
}

#location-list li:first-of-type {
  border-top: none;
}

li .feature-html {
  overflow: hidden;
}

li.list-group-item {
  border: none;
}

.list-group-item {
  background: var(--cOnPrimary);
}

#locations li.filtered {
  display: none;
}

.list-group-item {
  padding: 0;
}

.list-group-item.highlight {
  background-color: var(--cSecondary);
}

.no-result {
  padding: 1em;
  text-align: center;
  display: none;
}
.no-result * {
  font-weight: bold;
}