#map-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 0 20px var(--cPrimary);
}

.ol-control button:hover,
button#zoom-full:hover,
.popup-closer:hover,
#popup-pager .btn:hover {
  box-shadow: inset 0 0 0 2px var(--cPrimary);
  background-color: var(--cSecondary);
  color: var(--cOnSecondary);
}

.popup-closer:hover:after {
  color: var(--cPrimary);
}

.ol-control button {
  inline-size: 29px !important;
  block-size: 29px !important;
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
}

.ol-control button.ol-zoom-out {
  margin-top: 3px;
}
.ol-control button, .popup-closer::after {
  color: var(--cOnPrimary);
  background-color: var(--cPrimary);
  border-color: var(--cPrimary);
}

button#zoom-full,
button.ol-zoom-in,
button.ol-zoom-out,
.popup-closer,
button.attribution {
  font-weight: bold;
  position: relative;
  grid-area: 1/2;
  border: none;
  inset: unset;
  block-size: 24px;
  inline-size: 24px;
  background: var(--popupCloserBg, var(--cPrimary));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem !important;
}

button.ol-zoom-in,
button.ol-zoom-out {
  text-indent: 0;
  font-size: 24px;
  padding-bottom: 4px;
}

button.ol-zoom-out {
  padding-bottom: 3px;
}

button.ol-zoom-in::before,
button.ol-zoom-in::after,
button.ol-zoom-out::before,
button.ol-zoom-out::after,
.popup-closer::before,
button.attribution::before,
button.attribution::after {
  content: "";
}

button.ol-zoom-in::before,
button.ol-zoom-out::before,
.popup-closer::before,
button.attribution::before {
  display: none;
}

button.ol-zoom-in::after {
  transform: none;
}

button.ol-zoom-out::after {
  transform: none;
  background-size: 0px 100%, 100% 2px;
}

div.ol-control.ol-attribution {
  right: unset;
  top: unset;
  bottom: 0.5em;
  left: 0.5em;
  flex-flow: unset;
  position: absolute;
}

.ol-attribution .ol-attribution-collapse {
  font-weight: normal;
}

.ol-attribution button.attribution::after {
  display: none;
}

.ol-attribution button.attribution[aria-expanded="true"] .ol-attribution-collapse {
  transform: rotate(180deg);
  font-size: 32px;
  margin-bottom: -8px;
}

.ol-attribution ul {
  height: 31px;
  text-align: left;
  line-height: 95%;
  max-width: calc(100% - 5em);
}

.overlay-0 {
  z-index: 0;
}

.overlay-1 {
  z-index: 1;
}

.overlay-2 {
  z-index: 2;
}

h2.map-type {
  position: absolute;
  top: .5em;
  left: calc(50% - 200px);
  display: block;
  width: 550px;
  max-width: calc(100% - 4em);
  z-index: 100;
}

h2.map-type * {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: auto;
  color: var(--cPrimary);
}

div.zoom-full {
  position: absolute;
  right: .5em;
  top: .5em;
}

button#zoom-full {
  background-image: url(/img/us.png);
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  inline-size: 29px;
  block-size: 29px;
}

button#zoom-full:hover {
  background-image: url(/img/us-hover.png);
}

#map-container .ol-viewport {
  background-color: #acdef2;
}

#block-event {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

body.animate #block-event {
  display: block;
}