#popup {
  position: absolute;
  padding: 10px 6px;
  inset-block-end: 12px;
  inset-inline-start: -50px;
  min-inline-size: 280px;
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.25rem;
  width: 310px;
  opacity: 0;
}

#popup h4 {
  margin: 0 0 0.25rem 0;
  align-self: center;
  min-block-size: 24px;
}

#popup .popup-closer {
  position: absolute;
  top: 0.33em;
  right: 0.33em;
}

#popup-content {
  max-height: 300px;
  overflow-y: auto;
}

#popup .feature-html {
  font-size: min(0.5rem + 1.5vw, 1rem);
}

#popup h6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px;
}

.popup-closer {
  float: inline-end;
  position: relative;
}

.popup-closer::after {
  inline-size: 12px;
  block-size: 12px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  text-shadow: none;
  font-weight: 700;
  content: "";
  background: linear-gradient(to top, currentColor, currentColor) no-repeat center/100% 2px, linear-gradient(to top, currentColor, currentColor) no-repeat center/2px 100%;
  z-index: 2;
  transform: rotate(45deg);
}

#popup-pager {
  display: none;
  margin-inline-start: calc(100% - 160px);
  margin-top: 1em;
  order: 7777;
}

#popup-pager .previous {
  float: left;
}

#popup-pager .next {
  float: right;
}

#popup-pager div {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#popup-pager .at,
#popup-pager .end {
  display: inline-block;
  width: 1em;
  text-align: center;
}

#popup-pager button.btn.btn-secondary {
  display: inline-block;
  width: 29px;
  height: 29px;
  text-align: center;
  line-height: .5em;
  padding: 0;
}

#popup-pager button.btn.btn-secondary span {
  font-size: 32px;
}

#popup, #possible {
  background-color: var(--cOnPrimary);
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 4px;
  border: none;
}

#popup, #possible {
  border-radius: 4px;
}

#popup::after, #popup::before {
  top: 100%;
  border: solid transparent;
  content: " ";
  block-size: 0px;
  inline-size: 0px;
  position: absolute;
  pointer-events: none;
}

#popup::after {
  border-block-start-color: var(--popupBg);
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

#popup::before {
  border-block-start-color: var(--popupBorder);
  border-width: 11px;
  inset-inline-start: 48px;
  margin-inline-start: -11px;
}

.popup-closer {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  block-size: 29px;
  inline-size: 29px;
}

#popup-standby {
  display: none;
}

#popup-content .field {
  font-weight: bold;
}

#popup .feature-html div.distance {
  display: none;
}
