:root {
  --cPrimary: #111a52;
  --cOnPrimary: #fff;
  --cSecondary: #acdef2;
  --cEmpty: rgba(124, 195, 233, 0.2);
  --cOnSecondary: #111;
  --popupBg: #fff;
  --popupActiveBg: #bfd8f2;
  --popupBorder: #ccc;
  --popupActiveBorder: var(--cPrimary);
  --borderSubtle: #ddd;
  --tipBg: rgba(17,26,82,.8);
  --modalBd: rgba(17,26,82,.5);
  --newChallenge: #fff000;
  --legendBg: #f2f2f2;
  --scrollbarBg: rgba(0, 98, 204, .125);
  --scrollbarWidth: 1em;
  --scrollbarBorder: rgba(0, 98, 204, .25);
}

body.loading {
  background-image: url("..//img/digital-works/loading.avif");
  background-color: var(--cOnPrimary);
}

.banner .logoState {
  position: relative;
}

#external {
  width: 100%;
  height: calc(100% - .5em);
  margin-top: .5em;
}

.btn.btn-primary:hover {
  box-shadow: inset 0 0 0 2px var(--cSecondary);
}

*:focus-visible {
  outline: none;
}

.form-control:focus,
.btn:focus-visible,
h4:focus-visible,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:focus-visible {
  box-shadow: inset 0 0 0 3px #74a9cf;
  outline: none !important;
}

.ol-control button:focus,
.btn.active:focus,
.btn.active:focus-visible {
  color: inherit;
  box-shadow: inset 0 0 0 2px #74a9cf !important;
  border: 1px solid #74a9cf !important;
  outline: none !important;
}

.btn.btn-primary.active:focus,
.btn.btn-primary.active:focus-visible {
  box-shadow: inset 0 0 0 2px #a6bddb !important;
}

.ol-control button:focus {
  color: var(--cOnPrimary);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:focus-visible,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:focus-visible {
  color: inherit;
  box-shadow: inset 0 0 0 3px #74a9cf !important;
  border: 1px solid var(--cPrimary) !important;
  border-bottom: none !important;
  outline: none !important;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:focus-visible {
  box-shadow: inset 0 0 0 3px #a6bddb !important;
}

@media only screen and (max-width: 845px) {
  #banner .logoState img {
    width: 8rem;
  }

  #banner h1 {
    font-size: 1.5em;
    display: block;
    max-height: 36px;
  }

  .modal-header h2 {
    font-size: 1em;
  }

  .banner .dropdown {
    inset-inline-end: .5em !important;
    inset-block-start: .5em !important;
  }

}

@media only screen and (max-width: 540px) {
  #banner h1 {
    margin-top: -3px;
    overflow: visible;
  }

  #banner h1 {
    font-size: 1.2em;
    display: block;
    max-width: 100px;
  }

  body.loading {
    background-size: 75%;
  }

  div#modal.intro {
    margin: 3em 2em 2em 2em !important;
  }

  #modal .modal-content {
    max-height: 400px;
  }

  #dialog .modal-header h2 {
    font-size: 1.125em;
  }

}

@media only screen and (max-width: 445px) {
  #dialog .modal-header {
    padding: .55em .25em .55em .55em;
  }
  #dialog .modal-header h2 {
    font-size: 1em;
  }

  #dialog .popup-closer {
    position: absolute;
    top: .25em;
    right: .25em;
  }

}

@media only screen and (max-width: 390px) {
  #banner {
    padding: .5em;
  }

  #banner h1 {
    font-size: .95em;
  }

  #banner .logoState img {
    width: 6rem;
  }

  .banner .dropdown {
    inset-inline-end: .5em !important;
    inset-block-start: .4em !important;
  }

  .banner .dropdown button {
    padding: 4px 24px 4px 4px !important;
    font-size: 90%;
  }
}
