:root {
  --cPrimary: #111a52;
  --cOnPrimary: #fff;
  --cSecondary: #acdef2;
  --cEmpty: rgba(124, 195, 233, 0.2);
  --cOnSecondary: #111;
  --popupBg: #fff;
  --popupActiveBg: #bfd8f2;
  --popupBorder: #ccc;
  --popupActiveBorder: var(--cPrimary);
  --borderSubtle: #ddd;
  --tipBg: rgba(17,26,82,.8);
  --modalBd: rgba(17,26,82,.5);
  --newChallenge: #fff000;
  --legendBg: #f2f2f2;
  --scrollbarBg: rgba(0, 98, 204, 0.25);
  --scrollbarBorder: rgba(0, 98, 204, 0.25);
  --checkFocus: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23111a52' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

body.loading {
  background-image: url("../../img/digital-works/loading.avif");
  background-color: var(--cOnPrimary);
}

.banner .logoState {
  position: relative;
}

#external {
  width: 100%;
  height: calc(100% - .5em);
  margin-top: .5em;
}

.btn.btn-primary:hover {
  box-shadow: inset 0 0 0 2px var(--cSecondary);
}

*:focus,
*:active,
*:focus-visible,
.form-control:focus,
.btn:focus-visible,
h4:focus-visible,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:focus-visible {
  box-shadow: inset 0 0 0 3px #74a9cf;
  outline: none !important;
}

.ol-control button:focus,
.btn.active:focus,
.btn.active:focus-visible {
  color: inherit;
  box-shadow: inset 0 0 0 2px #74a9cf !important;
  border: 1px solid #74a9cf !important;
  outline: none !important;
}

.btn.btn-primary.active:focus,
.btn.btn-primary.active:focus-visible {
  box-shadow: inset 0 0 0 2px #a6bddb !important;
}

.ol-control button:focus {
  color: var(--cOnPrimary);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:focus-visible,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:focus-visible {
  color: inherit;
  box-shadow: inset 0 0 0 3px #74a9cf !important;
  border: 1px solid var(--cPrimary) !important;
  border-bottom: none !important;
  outline: none !important;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:focus-visible {
  box-shadow: inset 0 0 0 3px #a6bddb !important;
}

@media only screen and (max-width: 575px) {
  #banner .logoState img {
    width: 8rem;
  }

  #banner h1 {
    font-size: 1.1em;
    display: block;
    max-width: 100px;
  }

  .modal-header h2 {
    font-size: 1em;
  }

  .banner .dropdown {
    inset-inline-end: .5em !important;
    inset-block-start: .5em !important;
  }

}
